In [85]:
import pandas as pd

In [86]:
Sdf = pd.read_csv('p_learn/pokemon_data.csv')
df_xlsx = pd.read_excel('p_learn/pokemon_data_x.xlsx') # reading non csv files
# df_xlsx = pd.read_csv('p_learn/pokemon_data.txt',delimiter='\t') 
df.head() #tail

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

## Reading datasets

In [87]:
# Read all headers
df.columns

# Read Specific columns
df[['Name','HP']].head()

# Read each rows
df.iloc[0:4]

# (or) 
for index,row in df.iterrows():
    if row['Name'] == "Venusaur":
        print("Solution: ",index,row['HP'])

# (or) for more specific
df.loc[(df["Type 1"] == "Fire") & (df['Attack'] > 100)] # returns only filtered rows

# Read Specific rows (R,C)
# df.iloc[2,2]

Solution:  2 80

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False
64,59,Arcanine,Fire,NaN,90,110,80,100,80,95,1,False
147,136,Flareon,Fire,NaN,65,130,60,95,110,65,1,False
263,244,Entei,Fire,NaN,115,115,85,90,75,100,2,True
270,250,Ho-oh,Fire,Flying,106,130,90,110,154,90,2,True
278,257,Blaziken,Fire,Fighting,80,120,70,110,70,80,3,False
279,257,BlazikenMega Blaziken,Fire,Fighting,80,160,80,130,80,100,3,False
354,323,CameruptMega Camerupt,Fire,Ground,70,120,100,145,105,20,3,False
437,392,Infernape,Fire,Fighting,76,104,71,104,71,108,4,False
559,500,Emboar,Fire,Fighting,110,123,65,100,65,65,5,False
615,555,DarmanitanStandard Mode,Fire,NaN,105,140,55,30,55,95,5,False
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

## Sorting / Describing

In [88]:
df.describe() # mean  , count, min, max etc..

df.sort_values(['Type 1','Speed'], ascending = [1,1]) # ascending = False - leads to decending order

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
230,213,Shuckle,Bug,Rock,20,10,230,10,230,5,2,False
219,204,Pineco,Bug,NaN,50,65,90,35,35,15,2,False
289,266,Silcoon,Bug,NaN,50,35,55,25,25,15,3,False
291,268,Cascoon,Bug,NaN,50,35,55,25,25,15,3,False
288,265,Wurmple,Bug,NaN,45,45,35,20,30,20,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...
713,647,KeldeoOrdinary Forme,Water,Fighting,91,72,90,129,90,108,5,False
714,647,KeldeoResolute Forme,Water,Fighting,91,72,90,129,90,108,5,False
130,121,Starmie,Water,Psychic,60,75,85,100,85,115,1,False
466,419,Floatzel,Water,NaN,85,105,55,85,50,115,4,False
726,658,Greninja,Water,Dark,72,95,67,103,71,122,6,False

## Making Changes in Data

In [89]:
# Dropping
df = df.drop(columns=['Generation'])
df.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,False

In [90]:
#df['Total'] =  df['HP'] + df['Attack'] + df['Defense'] + df['Sp. Def'] + df['Sp. Atk'] + df['Speed'] 
df.head()

# optimized
df['Total'] = df.iloc[: , 4:10].sum(axis=1) # : - means all (R , C) || axis = 0 means horizontal
df.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,False,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,False,309

In [91]:
# Rearranging
cols = list(df.columns)
df = df[cols[0:4] + [cols[-1]] + cols[4:11]]
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,False

## Saving the Data

In [92]:
#df.to_excel('',index=False)

## Filtering Data

In [93]:
new_df = df.loc[(df['Type 1'] == 'Grass') & (df['Total'] > 500) ]  
new_df = new_df.reset_index(drop=True) # Reset index for new df || drop=True - to remove index column name
new_df.to_csv('filtered.csv')
# new_df.reset_index(drop=True, inplace=True) - inplace=True: Modifies the original object directly.
new_df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Legendary
0,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,False
1,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,False
2,103,Exeggutor,Grass,Psychic,520,95,95,85,125,65,55,False
3,154,Meganium,Grass,NaN,525,80,82,100,83,100,80,False
4,254,Sceptile,Grass,NaN,530,70,85,65,105,85,120,False
5,254,SceptileMega Sceptile,Grass,Dragon,630,70,110,75,145,85,145,False
6,389,Torterra,Grass,Ground,525,95,109,105,75,85,56,False
7,407,Roserade,Grass,Poison,515,60,70,65,125,105,90,False
8,460,AbomasnowMega Abomasnow,Grass,Ice,594,90,132,105,132,105,30,False
9,465,Tangrowth,Grass,NaN,535,100,100,125,110,50,50,False
10,470,Leafeon,Grass,NaN,525,65,110,130,60,65,95,False
11,492,ShayminLand Forme,Grass,NaN,600,100,100,100,100,100,100,True
12,492,ShayminSky Forme,Grass,Flying,600,100,103,75,120,75,127,True
13,497,Serperior,Grass,NaN,528,75,75,95,75,95,113,False
14,640,Virizion,Grass,Fighting,580,91,90,72,90,129,108,True
15,652,Chesnaught,Grass,Fighting,530,88,107,122,74,75,64,False
16,673,Gogoat,Grass,NaN,531,123,100,62,97,81,68,False

## Advance Filter

In [94]:
import re 
df.loc[df['Type 1'].str.contains('water|bug',flags=re.I,regex=True)] # like search engine
df.loc[df['Name'].str.contains('^pi[a-z]*',flags=re.I,regex=True)] # to take only pi and remaining a to z all, ^ - indicates starting

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Legendary
20,16,Pidgey,Normal,Flying,251,40,45,40,35,35,56,False
21,17,Pidgeotto,Normal,Flying,349,63,60,55,50,50,71,False
22,18,Pidgeot,Normal,Flying,479,83,80,75,70,70,101,False
23,18,PidgeotMega Pidgeot,Normal,Flying,579,83,80,80,135,80,121,False
30,25,Pikachu,Electric,NaN,320,35,55,40,50,50,90,False
136,127,Pinsir,Bug,NaN,500,65,125,100,55,70,85,False
137,127,PinsirMega Pinsir,Bug,Flying,600,65,155,120,65,90,105,False
186,172,Pichu,Electric,NaN,205,20,40,15,35,35,60,False
219,204,Pineco,Bug,NaN,290,50,65,90,35,35,15,False
239,221,Piloswine,Ice,Ground,450,100,100,80,60,60,50,False
438,393,Piplup,Water,NaN,314,53,51,53,61,56,40,False
558,499,Pignite,Fire,Fighting,418,90,93,55,70,55,55,False
578,519,Pidove,Normal,Flying,264,50,55,50,36,30,43,False

## Conditional Changes

In [95]:
df.loc[df['Type 1'] == 'Fire','Type 1'] = "monkey" # replace the value  - for single
df.loc[df['Total'] < 400, ['Attack', 'Defense']] = ["Waste A", "Waste def"] # for multiple
df.loc[df['Type 1'] == 'monkey']

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Legendary
4,4,Charmander,monkey,NaN,309,39,Waste A,Waste def,60,50,65,False
5,5,Charmeleon,monkey,NaN,405,58,64,58,80,65,80,False
6,6,Charizard,monkey,Flying,534,78,84,78,109,85,100,False
7,6,CharizardMega Charizard X,monkey,Dragon,634,78,130,111,130,85,100,False
8,6,CharizardMega Charizard Y,monkey,Flying,634,78,104,78,159,115,100,False
42,37,Vulpix,monkey,NaN,299,38,Waste A,Waste def,50,65,65,False
43,38,Ninetales,monkey,NaN,505,73,76,75,81,100,100,False
63,58,Growlithe,monkey,NaN,350,55,Waste A,Waste def,70,50,60,False
64,59,Arcanine,monkey,NaN,555,90,110,80,100,80,95,False
83,77,Ponyta,monkey,NaN,410,50,85,55,65,65,90,False
84,78,Rapidash,monkey,NaN,500,65,100,70,80,80,105,False
135,126,Magmar,monkey,NaN,495,65,95,57,100,85,93,False
147,136,Flareon,monkey,NaN,525,65,130,60,95,110,65,False
158,146,Moltres,monkey,Flying,580,90,100,90,125,85,90,True
169,155,Cyndaquil,monkey,NaN,309,39,Waste A,Waste def,60,50,65,False
170,156,Quilava,monkey,NaN,405,58,64,58,80,65,80,False
171,157,Typhlosion,monkey,NaN,534,78,84,78,109,85,100,False
236,218,Slugma,monkey,NaN,250,40,Waste A,Waste def,70,40,20,False
237,219,Magcargo,monkey,Rock,410,50,50,120,80,80,30,False
259,240,Magby,monkey,NaN,365,45,Waste A,Waste def,70,55,83,False
263,244,Entei,monkey,NaN,580,115,115,85,90,75,100,True
270,250,Ho-oh,monkey,Flying,680,106,130,90,110,154,90,True
276,255,Torchic,monkey,NaN,310,45,Waste A,Waste def,70,50,45,False
277,256,Combusken,monkey,Fighting,405,60,85,60,85,60,55,False
278,257,Blaziken,monkey,Fighting,530,80,120,70,110,70,80,False
279,257,BlazikenMega Blaziken,monkey,Fighting,630,80,160,80,130,80,100,False
352,322,Numel,monkey,Ground,305,60,Waste A,Waste def,65,45,35,False
353,323,Camerupt,monkey,Ground,460,70,100,70,105,75,40,False
354,323,CameruptMega Camerupt,monkey,Ground,560,70,120,100,145,105,20,False
355,324,Torkoal,monkey,NaN,470,70,85,140,85,70,20,False
435,390,Chimchar,monkey,NaN,309,44,Waste A,Waste def,58,44,61,False
436,391,Monferno,monkey,Fighting,405,64,78,52,78,52,81,False
437,392,Infernape,monkey,Fighting,534,76,104,71,104,71,108,False
518,467,Magmortar,monkey,NaN,540,75,95,67,125,95,83,False
542,485,Heatran,monkey,Steel,600,91,90,106,130,106,77,True
557,498,Tepig,monkey,NaN,308,65,Waste A,Waste def,45,45,45,False
558,499,Pignite,monkey,Fighting,418,90,93,55,70,55,55,False
559,500,Emboar,monkey,Fighting,528,110,123,65,100,65,65,False
572,513,Pansear,monkey,NaN,316,50,Waste A,Waste def,53,48,64,False
573,514,Simisear,monkey,NaN,498,75,98,63,98,63,101,False
614,554,Darumaka,monkey,NaN,315,70,Waste A,Waste def,15,45,50,False
615,555,DarmanitanStandard Mode,monkey,NaN,480,105,140,55,30,55,95,False
616,555,DarmanitanZen Mode,monkey,Psychic,540,105,30,105,140,105,55,False
692,631,Heatmor,monkey,NaN,484,85,97,66,105,66,65,False
721,653,Fennekin,monkey,NaN,307,40,Waste A,Waste def,62,60,60,False
722,654,Braixen,monkey,NaN,409,59,59,58,90,70,73,False
723,655,Delphox,monkey,Psychic,534,75,69,72,114,100,104,False
730,662,Fletchinder,monkey,Flying,382,62,Waste A,Waste def,56,52,84,False
731,663,Talonflame,monkey,Flying,499,78,81,71,74,69,126,False
735,667,Litleo,monkey,Normal,369,62,Waste A,Waste def,73,54,72,False
736,668,Pyroar,monkey,Normal,507,86,68,72,109,66,106,False
799,721,Volcanion,monkey,Water,600,80,110,120,130,90,70,True

## Aggregate Statistics (Group By)

In [126]:
df = pd.read_csv('p_learn/pokemon_data.csv')
df.head()
df.groupby(['Name']).mean(numeric_only=True).sort_values('Speed',ascending=True) # to verify the which one power for specific power
df.groupby(['Type 1','Type 2']).count()['Attack'] # For specific column

Type 1  Type 2
Bug     Electric     2
        Fighting     2
        Fire         2
        Flying      14
        Ghost        1
                    ..
Water   Ice          3
        Poison       3
        Psychic      5
        Rock         4
        Steel        1
Name: Attack, Length: 136, dtype: int64

In [120]:
df.loc[df['Legendary'] == True,'Legendary'] = "Periya Kai"
df.loc[df['Legendary'] == False,'Legendary'] = "Kutty kai"
df['Legendary'].value_counts()

Legendary
Kutty kai     735
Periya Kai     65
Name: count, dtype: int64

## Working with Large Datasets

In [135]:
new_df = pd.DataFrame(columns= df.columns)

for df in pd.read_csv('p_learn/pokemon_data.csv',chunksize=5):
    result = df.groupby('Type 1').mean(numeric_only =True)
    new_df = pd.concat([new_df, result])
    
new_df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Fire,4.00,NaN,NaN,NaN,39.00,52.00,43.00,60.00,50.00,65.00,1.0,0.0
Grass,2.25,NaN,NaN,NaN,66.25,73.25,79.50,91.75,91.25,66.25,1.0,0.0
Fire,5.75,NaN,NaN,NaN,73.00,95.50,81.25,119.50,87.50,95.00,1.0,0.0
Water,7.00,NaN,NaN,NaN,44.00,48.00,65.00,50.00,64.00,43.00,1.0,0.0
Bug,10.50,NaN,NaN,NaN,47.50,25.00,45.00,22.50,22.50,37.50,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
Fairy,716.00,NaN,NaN,NaN,126.00,131.00,95.00,131.00,98.00,99.00,6.0,1.0
Flying,714.50,NaN,NaN,NaN,62.50,50.00,57.50,71.00,60.00,89.00,6.0,0.0
Fire,721.00,NaN,NaN,NaN,80.00,110.00,120.00,130.00,90.00,70.00,6.0,1.0
Psychic,720.00,NaN,NaN,NaN,80.00,135.00,60.00,160.00,130.00,75.00,6.0,1.0
Rock,719.00,NaN,NaN,NaN,50.00,130.00,130.00,130.00,130.00,80.00,6.0,1.0